.git
.github
.DS_Store
.env
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache

frontend/react_app/node_modules
frontend/react_app/dist

datasets/raw
datasets/processed
datasets/external

notebooks
